//COLORS
$color-primary: #4c4f65;
$color-primary-light: #9aa0c3;
$color-primary-dark: #32354b;
$color-main-dark-purple: #2e0a3d;
$color-main-light-purple: #9528bd;

$color-green-primary: #55c57a;
$color-green-primary-light: #7ed56f;
$color-green-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark-1: rgba(255, 119, 48, 0.61);
$color-secondary-dark: #ff7730;

$color-tertiary-light: #57a3e4;
$color-tertiary-dark: #59bcff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;


$color-grey-dark: #b2bec3;
$color-grey-dark-2: #636e72;
$color-grey-dark-3: #2d3436;

$color-white: #ffffff;
$color-black: #000000;

//FONT
$default-font-size: 1.5rem;
$default-font-size-small: 1.2rem;
