//vars
$border-image: linear-gradient(to right, #2D2E83, #1D71B8) 5;

$c-b: cubic-bezier(.25, .78, .33, .98);
$c-b-d: cubic-bezier(.03, .88, .33, .98);

/* START LOADING INSTANCE */

.site-loader {
  display: block;
  z-index: 200;
  position: fixed;
}

.line {
  opacity: .9;
  position: fixed;
  height: 11.512vw;
  width: 0;
  border: #4c4f65 solid;
  transition: height 0.3s cubic-bezier(0, 0.5, 1, 0.5), width 0.3s cubic-bezier(0, 0.5, 1, 0.5), transform 0.8s cubic-bezier(0.5, 0, 0.5, 1);
}

.site-loader.dark .line {
  border-color: #e3e3e5;
}

.line.right.move-x {
  transform: translate3d(-46.5vw, calc(-11.512vw - 100vh), 0) !important;
  transition: transform 0.5s $c-b-d;
}
.line.right.move-y {
  transform: translate3d(0, calc(-11.512vw - 100vh), 0);
  top: calc(11.512vw + 100vh);
}
.line.right {
  border-width: 6px 6px 0 0;
  right: 0;
}

.line.left.move-x {
  transform: translate3d(46.5vw, calc(11.512vw + 100vh), 0) !important;
  transition: transform 0.5s $c-b-d;
}
.line.left.move-y {
  transform: translate3d(0, calc(11.512vw + 100vh), 0);
  bottom: calc(11.512vw + 100vh);
}
.line.left {
  border-width: 0 0 6px 6px;
  left: 0;
}
.line.change-axis {
  height: 0;
  width: 11.512vw;
}

.line.bottom {
  border-width: 0 0 6px 0;
  bottom: 0;
  transition: transform 1.6s $c-b-d !important;
}

/* Transition Slide */

.transition-sliders {
  z-index: 999;
  &.active > .t-slide {
    transform: translate3d(-500vw, 0, 0px);
  }
  &.dark > .t-slide {
    &.one {
      border-bottom: 100vh solid #15151E;
      &:after {
        border-top: 100vh solid #15151E;
      }
    }
  }
  > .t-slide {
    transform: translateZ(0);
    position: absolute;
    border-left: 100vw solid transparent;
    height: 0;
    width: 300vw;
    bottom: 0;
    left: 100vw;
    &.one {
      z-index: 1002;
      border-bottom: 100vh solid #4c4f65;
      transition: transform 1.6s 0.5s ease-in-out;
      &:after {
        border-top: 100vh solid #4c4f65;
      }
    }
    &.two {
      z-index: 1001;
      border-bottom: 100vh solid #f7f7f7;
      transition: transform 1.8s 0.6s ease-in-out;
      &:after {
        border-top: 100vh solid #f7f7f7;
      }
    }
    &.three {
      z-index: 1000;
      border-bottom: 100vh solid #1D71B8;
      transition: transform 1.9s 0.7s ease-in-out;
      &:after {
        border-top: 100vh solid #1D71B8;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 200vw; // origin from middle of border bottom
      border-right: 100vw solid transparent;
    }
  }
}

@media only screen and (max-width: 700px) {
  // actual queries
/*  .line.move-y-flat {
    height: 9vh;
    min-height: 50px;
    transition: transform 1.6s cubic-bezier(0.03, 0.88, 0.33, 0.98) !important;
  }

  .line.left.move-y-flat {
    height: 9vh;
    transform: translate3d(0, calc(calc(-9vh - 100vh) + 1.5vh), 0);
    top: calc(9vh + 100vh);
  }

  .line.right.move-y-flat {
    transform: translate3d(0, calc(calc(9vh + 100vh) - 1.5vh), 0);
    bottom: calc(9vh + 100vh);
  }*/

  .line.right.move-y {
    transform: translate3d(0, calc(calc(9vh + 100vh) - 1.5vh), 0) !important;
    bottom: calc(18vh + 100vh);
    top: unset;
  }

  .line.left.move-y {
    transform: translate3d(0, calc(calc(-9vh - 100vh) + 1.5vh), 0) !important;
    top: calc(9vh + 100vh);
  }

  .line.move-y {
    height: 9vh;
    min-height: 50px;
    transition: transform 1.6s $c-b-d !important;
  }

  .line.right {
    border-width: 0 0 8px 46px !important;
    right: 0;
  }

  .line.change-axis {
    width: unset !important;
  }
}

/* END LOADING INSTANCE */